.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}

body{
  background-color: rgb(41, 38, 38);
  color: white;
  font-family: 'Nunito', sans-serif;
}

.loader{
  width: 5vw;
  height: 5vw;
}

.timer {
  font-size: 5vw;
}

